---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.page {
    @media (min-width: 80em) {
        width: calc(100% - 50px);
        padding-right: 50px;
    }

    @media (min-width: 64em) {
        width: calc(100% - 50px);
        padding-right: 50px;
    }
}

